@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&display=swap');


.ALLtitle {
    color: #FFF;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;

    &::after {
        content: '';
        width: 70px;
        height: 2px;
        background-color: #FFF;
    }
}

.ALLtitle_typeblack {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;

    &::after {
        content: '';
        width: 70px;
        height: 2px;
        background-color: #000000;
    }
}

.ALLdecoration {
    background: linear-gradient(180deg, #FFD4D4 -4.08%, #FFF 94.38%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 900;
    font-size: 80px;
    line-height: 100px;
    text-wrap: nowrap;
    transform: translateY(15px);
    z-index: -1;
}

.main_content {
    /* あなたのスタイルがここに入ります */
    padding-top: 71px;
    overflow: hidden;
    &.Lineup{
        padding-top: 171px;
    }
}

.modal-back {
    .modal {
        opacity: 0;
        transition: 0.3s;
    }
}