@use '../mixin/mixin.scss' as *;

.page-form {
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    opacity: 1;
    transition: 1.5s;
    transition-property: opacity;
    padding-top: 100px;
    @media screen and (max-width: 768px) {
        gap: 15px;
    }
    @media screen and (max-width: 425px) {
        padding: 0px;
    }
    .error {
        color: red;
        font-family: "Noto Sans JP";
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        text-wrap: wrap;
    }

    .flexbox {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 25px;
        background-color: #F8F8F8;
        width: 100%;
        height: 95%;
        gap: 5%;
        max-width: 1200px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            overflow-y: scroll;
            padding: 0%;
        }
    }

    &__close {
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .formbox {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        overflow-y: auto;
        padding-right: 25px;
        width: 50%;
        height: 100%;
        @media screen and (max-width: 768px) {
            width: 100%;
            overflow-y: unset;
            padding-right: 10px;
            height: auto;
        }
        @media screen and (max-width: 425px) {
            padding-right: 0px;
        }
        .shipping_info {
            width: 100%;
            padding: 40px 8%;
            margin: 0 auto;
            border-radius: 5px;
            background-color: #fff;
            @media screen and (max-width: 425px) {
                padding: 40px 5%;
            }
            .shipping_title {
                text-align: center;
                color: #000;
                font-family: "Noto Sans JP";
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                margin-bottom: 25px;
            }

            .shipping_form {
                width: 100%;

                .form_group {
                    display: block;
                    margin-bottom: 10px;
                    gap: 15px;

                    .inputbox {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        flex-direction: column;
                        width: 100%;
                        .help {
                            font-family: "Noto Sans JP";
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 500;
                            color: #a5a4a4;
                            margin-bottom: 5px;
                        }
                        input{
                            font-family: "Noto Sans JP";
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 300;
                            margin-bottom: 5px;
                            padding: 5px 10px;
                            width: 100%;
                        }
                    }
                    &.twobox{
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        gap: 15px;
                        .inputbox {
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-between;
                            flex-direction: column;
                            @include gaps(15px, 2);
                        }
                    }

                    .title {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 15px;
                        font-family: "Noto Sans JP";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        color: #2F2F2F;
                        text-wrap: nowrap;
                    }

                    input {
                        padding: 5px 10px;
                        border: 1px solid #ccc;
                        border-radius: 3px;
                        font-size: 1em;
                        width: 95%;

                        &:focus {
                            outline: none;
                            border-color: #2F2F2F;
                        }

                        &::placeholder {
                            color: #ccc;
                        }
                    }
                }
            }
        }
    }

    .accordion-modal {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 45%;
        padding-right: 10px;
        gap: 30px;
        height: 100%;
        overflow-y: auto;
        @media screen and (max-width: 768px) {
            width: 100%;
            overflow-y: unset;
        }
        .order_item{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            background: #FFF;
            box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.03);
            padding: 25px 30px;
            &__title{
                color: #2F2F2F;
                font-family: "Noto Sans JP";
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
            }
            &__content{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 14px;
                width: 100%;
                margin-top: 20px;
                .img{
                    min-width: 100px;
                }
                .textbox{
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 7px;
                    width: 100%;
                    &__name{
                        color: #2F2F2F;
                        font-family: "Noto Sans JP";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                    &__contract_period{
                        color: #000;
                        font-family: "Noto Sans JP";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 14px;
                    }
                    &__price{
                        color: #2D2D2D;
                        font-family: "Noto Sans JP";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 14px;
                        /* 100% */
                        letter-spacing: 0.42px;
                        margin-left: auto;
                        .tax{
                            color: #6D6D6D;
                            font-family: "Noto Sans JP";
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 14px;
                        }
                    }
                }
            }
        }

        .faq_background{
            width: 100%;
            background: #FFF;
            box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.03);
            padding: 0px 10px 0;
            .faq-title {
                margin-bottom: 40px;
            }

            .toggle {
                position: absolute;
                z-index: 10;
                width: 100%;
                height: 100%;
                opacity: 0;
            }

            .faq {
                position: relative;
                width: 100%;
                max-width: 1100px;
                margin-bottom: 5px;
            }

            .question,
            .anser {
                transform: translateZ(0);
                transition: all 0.3s;
            }
        
            .question {
                padding: 1rem 2.2rem 1rem 20px;
                display: block;
                color: #2F2F2F;
                border-bottom: 1px solid #E8E8E8;
                font-family: "Noto Sans JP", sans-serif;
                font-weight: 500;
                font-size: 16px;
                width: 100%;
            }
            .last{
                .question {
                    border-bottom: 0px solid #E8E8E8;
                }
                .anser div {
                    border-bottom: 0px solid #E8E8E8;
                }
            }
        
            .question:after,
            .question:before {
                content: "";
                position: absolute;
                right: 35px;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 2px;
                height: 0.75rem;
                background-color: #C33131;
                transition: all 0.3s;
            }
        
            .question:after {
                transform: rotate(90deg);
            }
        
            .anser {
                max-height: 0;
                overflow: hidden;
            }
        
            .anser div {
                margin: 0;
                padding: 1rem 2.2rem 1rem 22px;
                line-height: 1.8;
                font-family: "Noto Sans JP", sans-serif;
                font-weight: 500;
                font-size: 16px;
                color: #2F2F2F;
                border-bottom: 1px solid #E8E8E8;
            }
        
            .toggle:checked+.question+.anser {
                max-height: 500px;
                transition: all 1.5s;
            }
        
            .toggle:checked+.question:before {
                transform: rotate(90deg) !important;
            }
            .toggle:checked+.question {
                border-bottom: 0px solid #E8E8E8 !important;
            }
        }
    }

    .submitbuttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        width: 100%;
        margin-bottom: 20px;
        @media screen and (max-width: 768px) {
            margin-bottom: 0;
            padding-top: 20px;
        }
        @media screen and (max-width: 425px) {
            margin-bottom: 10px;
            padding-top: 15px;
        }
        .btn1 {
            width: 40%;
            height: 43px;
            border-radius: 21.5px;
            border: 1px solid #C33131;
            background: #FFF;
            position: relative;
            max-width: 181px;

            &__img {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 54%;
                left: 15%;
                width: 12px;
                height: 12px;
            }

            &__text {
                color: #C33131;
                font-family: "Noto Sans JP";
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }

        .btn2 {
            width: 40%;
            height: 43px;
            border-radius: 21.5px;
            background: #C33131;
            position: relative;
            max-width: 181px;

            &__img {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 54%;
                right: 15%;
                width: 12px;
                height: 12px;
            }

            &__text {
                color: #FFF;
                font-family: "Noto Sans JP";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
}